/* Table of contents
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- 1. Common
- 2. Header
- 3. Footer
- 4. Navigation
- 5. Pages
- 6. Utilities
*/


/* 1. Common
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
    w
    overflow-x: hidden;
}

p {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    text-align: center;
    font-size: 50px;
}

h1 {
    font-weight: 400;
    font-size: 34px;
}

h3 {
    font-weight: 200;
    font-size: 26px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
}

h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none !important;
}

a:focus {
    outline: none;
}


/*Preloader*/
html.preloader-running, body.preloader-running {
    overflow: hidden;
}

html.preloader-running .sticky-sidebar {
    display: block;
}

div#preloader {
    background: none repeat scroll 0 0 white;
    height: 100%;
    left: 40px;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 99999;
}

div#preloader.fluidview {
    left: 0px;
}

.line_wrapper{

    width: 50px;
}


.topline {
    width 20px;
    border-width: 3px;
    border-color: #000;
    text-align: center;
}


.tophead{

    height: 120px;
    color: #000000;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;

}

.toplogo{
    text-align: center;
    padding-top: 17px;
}

#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    background-image: url(/web/20181208234154im_/http://luise.designthinkingstore.de/images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    margin: -100px 0 0 -100px;
}



/*Sticky Panels*/
.sticky-panel {
    position: fixed;
    z-index: 999;
}

.sticky-panel-top {
    top: 0;
    width: 100%;
    height: 40px;
}

.sticky-panel-right {
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
}

.sticky-panel-bottom {
    bottom: 0;
    width: 100%;
    height: 40px;
}

.sticky-panel-left {
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
}


/* 2. Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header.masthead {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 999;
}

.main-logo {
   width: 70px;
   margin-bottom: 20px;
}

/* 3. Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mastfoot {
    margin: 50px 40px;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 60px;
}

.mastfoot-intro {
    margin: 0 80px 60px;
    padding: 40px;
    padding-top: 20px;
}

.mastfoot h2 {
    font-size: 18px;
    line-height: 36px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mastfoot h6 {
    font-size: 124px;
    line-height: 131px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.foot-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.foot-list li {
    font-size: 11px;
    line-height: 19px;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.foot-list li a {
    border-bottom: solid 1px #888;
}

.copyright {
    margin-top: 10px;
    font-size: 13px;
    line-height: 23px;
}
/* 4. Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav.mastnav {
}

/* 5. Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mastwrap {
}

.innerwrap {
    margin: 40px;
    margin-bottom: 0;
}

.sidestamp {
    text-align: center;
}

.sidestamp h2 {
    font-size: 32px;
    line-height: 39px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sidestamp h6 {
    font-size: 124px;
    line-height: 131px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.fixed-sidestamp {
    position: fixed;
    top: 0px;
    left: 0px;
}

.common-content {
    padding: 10%;
}

.main-caps {
    font-size: 18px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.main-caps-big {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.thumb-icon {
    font-size: 84px;
    line-height: 84px;
}



/*WORKS*/

.works-filter-panel {
    position: fixed;
    left: 100px;
    z-index: 1000;
}

.works-filter-wrap {
    margin-top: 10px;
}

.works-filter {
    list-style: none;
    padding: 0;
    margin: 0;
}

.works-filter li {
    display: inline-block;
}

.works-filter li a {
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.works-filter li:after {
    content: '/';
    margin-left: 10px;
    margin-right: 10px;
}

.works-filter li:last-child:after {
    display: none;
}

.works-list {
    padding: 65px;
    text-align: left;
}

.works-list h2 {
    font-size: 24px;
    line-height: 31px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-list h6 {
    font-size: 48px;
    line-height: 55px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-list p {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-list-wrap a .works-list * {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-list-wrap a:hover .works-list * {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-list img {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 60px;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    border: solid 2px;
}

.works-list-wrap a:hover .works-list img {
    opacity: 1;
}


/*GRID*/
.works-container {
    overflow: hidden;
}

.works-item {
    margin: 0;
    width: 33.3%;
}

.works-item a {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 100;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item a:hover {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.info a:hover {
    cursor: url("/web/20181208234154im_/http://luise.designthinkingstore.de/images/plus.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.zoom a:hover {
    cursor: url("/web/20181208234154im_/http://luise.designthinkingstore.de/images/zoom.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item-inner {
    text-align: center;
}

.works-item h2 {
    font-size: 32px;
    line-height: 39px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item h6 {
    font-size: 124px;
    line-height: 131px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item-inner h3 > span {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: solid 2px;
    padding: 10px;
    padding-left: 14px;
    margin-bottom: 0;
}

.works-item a:hover 
        .works-item-inner h3 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item-fade {
    opacity: 0.1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item-fade a {
    display: none !important;
}



    
/* Portfolio Isotope Transitions */ 

    .isotope, .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
    
    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }
    
    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }
    
    .isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }


/* 6. Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*Buttons*/
.btn-logic {
    border-radius: 0px;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-logic-big {
    border-radius: 0px;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-logic:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-logic-white {
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
}

.btn-logic-white:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #000;
}

.btn-logic-dark {
    border: solid 2px #000;
    background: transparent;
    color: #000;
}

.btn-logic-dark:hover {
    border: solid 2px #000;
    background: #000;
    color: #fff;
}

.btn-logic-color {
    border: solid 2px;
    background: transparent;
}

.btn-logic-color:hover {
    border: solid 2px;
    color: #fff;
}

a.scroll-down-slide {
    position: absolute;
    bottom: 80px;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    left: 50%;
    z-index: 900;
}

.ease {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ease:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.add-top {
    margin-top: 120px;
}

.add-bottom {
    margin-bottom: 120px;
}

.add-top-half {
    margin-top: 60px;
}

.add-bottom-half {
    margin-bottom: 60px;
}

.add-top-quarter {
    margin-top: 30px;
}

.add-bottom-quarter {
    margin-bottom: 30px;
}

.pad-top {
    padding-top: 100px;
}

.pad-bottom {
    padding-bottom: 100px;
}

.pad-top-half {
    padding-top: 60px;
}

.pad-bottom-half {
    padding-bottom: 60px;
}

.pad {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-common {
    padding: 100px;
}

.remove-top {
    margin-top: 0;
}

.remove-bottom {
    margin-bottom: 0;
}

.remove-bottom {
    margin-bottom: 0;
}

.remove-pad-top {
    padding-top: 0;
}

.remove-pad-bottom {
    padding-bottom: 0;
}

.mob-center > .img-responsive {
    display: inline-block;
}

.no-gutter {
    padding: 0px !important;
}

.no-pad {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
/*this class will be activated on mobile devices in order to switch off the parallax effect*/
.parallax-off {
    background-attachment: scroll !important;
    background-size: cover !important;
}

/*.poster-img {
    background: url(/web/20181208234154im_/http://luise.designthinkingstore.de/images/poster.jpg) center center no-repeat !important;
    background-size: cover !important;
}*/

/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*end of all main styles*/

body {
 text-align:center;
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
        overflow:hidden; /* Für Image-Element Variante */
    text-align: center;
    margin-left: 20px;
}

.text-left {
    text-align: left;
}

.light {
    font-weight: 300;
}

.col-left {
    width: 200;
    float: left;
}

.footer-bottom {
    margin-top: 60px;
    margin-bottom: 500px;
}

.space {
    letter-spacing: 1px;
}


@media (min-width: 768px) and (max-width: 991px) {

.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
        overflow:hidden; /* Für Image-Element Variante */
    text-align: center;
    margin-left: 33%;  
    margin-bottom: 30px;
}

}



@media (max-width: 767px) {
 .circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
        overflow:hidden; /* Für Image-Element Variante */
    text-align: center;
    margin-left: 18%;
    margin-bottom: 30px;
}
}



/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*LESS rules compiled TO CSS rules and copied below (for production purpose only)*/
/*Please note: For development purposes please use LESS to set your own colors and fonts, 
more info provided in PDF user-guide that comes within your download pack*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.font1{font-family:'Open Sans',sans-serif}.font2{font-family:'Open Sans',sans-serif}.font3{font-family:'font-family: 'Open Sans', sans-serif',sans-serif}.font4{font-family:'font-family: 'Open Sans', sans-serif',sans-serif}.font4thin{font-family:'Open Sans',sans-serif}.font4light{font-family:'Open Sans',sans-serif}.font4bold{font-family:'Open Sans',sans-serif}.font4black{font-family:'Open Sans',sans-serif; text-align: center}.main-nav-menu li a.main-nav-link{font-family:'Open Sans',sans-serif}body,p{font-family:'Open Sans',sans-serif}.sub-nav a{font-family:'Open Sans',sans-serif}input,textarea{font-family:'Open Sans',sans-serif}#main_nav a{font-family:'Open Sans',sans-serif}ul.slimmenu li a{font-family:'Open Sans',sans-serif}.works-filter li a{font-family:'Open Sans',sans-serif}.color{color:#f21c0a}.white{color:#fff}.silver{color:#f1f1ef}.grey{color:#ccc}.dark{color:#292929}.black{color:#121212}.color-bg{background-color:#f21c0a}.white-bg{background-color:#fff}.silver-bg{background-color:#f1f1ef}.grey-bg{background-color:#ccc}.dark-bg{background-color:#292929}.black-bg{background-color:#121212}a{color:#121212}a:hover{color:#f21c0a}::selection{background:#f21c0a;color:#fff}::-moz-selection{background:#f21c0a;color:#fff}body,p{color:#292929}.btn-logic-color{border-color:#f21c0a;color:#f21c0a}.btn-logic-color:hover{border-color:#f21c0a;background-color:#f21c0a;color:#fff}.works-item a:hover{background-color:#f21c0a}.works-item-inner h3 > span{border-color:#fff}.works-list-wrap a:hover .works-list{background-color:#f21c0a}.works-list-wrap a:hover .works-list *{color:#fff}.news-item:hover{background-color:#f21c0a}.news-item:hover *{color:#fff}.news-item em{background-color:#292929}.main-nav-menu li a{border-color:#292929}.main-nav-menu li a.main-nav-link{border-color:#f1f1ef}.main-nav-menu li a:hover{border-color:#f21c0a}.sub-nav a{border-color:#292929}.sub-nav a:hover{border-color:#f21c0a}.intro-02 h6 > span > a{border-color:#292929}.intro-02 h6 > span > a:hover{color:#f21c0a;border-color:#f21c0a}.masonry-item h3 > span{border-color:#fff}.sticky-panel{background-color:#ffffff}.menu-panel{border-color:#f21c0a}.works-list img{border-color:#fff}.project-nav-list li:after{color:#fff}.project-spec-list li > span{border-color:#ccc}#main_nav li:hover,#main_nav li:hover li{background-color:#f1f1ef}#main_nav li li:hover,#main_nav li li:hover li{background-color:#f1f1ef}#main_nav li li li:hover{background-color:#f1f1ef}#main_nav a:hover{background-color:#ccc}.alert{background-color:#f21c0a}.alert p{color:#fff}ul.slimmenu li a{color:#292929}.works-filter li a.active span{color:#f21c0a}
/*
     FILE ARCHIVED ON 23:41:54 Dec 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:04:33 Sep 13, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.01
  captures_list: 87.658
  PetaboxLoader3.resolve: 112.779 (2)
  exclusion.robots.policy: 0.121
  RedisCDXSource: 1.02
  LoadShardBlock: 64.573 (3)
  PetaboxLoader3.datanode: 97.635 (5)
  load_resource: 187.118 (2)
  exclusion.robots: 0.13
  CDXLines.iter: 19.395 (3)
*/